  <!DOCTYPE html>
  <html ng-app="myApp" ng-controller="myCtrl">

  <head>
      <link rel="canonical" href="index.html">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="css/main.css">
      <script src="js/main.js" defer></script>
      <script src="js/controller.js" defer></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
      <title>Tanya Vashistha</title>
      <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  </head>

  <body>
      <main class="page_wrapper">
          <div class="js-overlay js-close-navigation js-close-menu overlay"></div>
          <div class="loading_overlay js-loading-overlay">
              <div class="loading_overlay__bubble"></div>
              <div class="loader js-loader">
                  <div class="loader__logo"><img src="img/etc/i--logo--white.svg" alt="svg spinner animation" class="loader__logo__img">
                  </div>
                  <div class="loader__item loader__item--1 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--2 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--3 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--4 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--5 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--6 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--7 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--8 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--9 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--10 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--11 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--12 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--22 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--23 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--24 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--25 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--26 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--27 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--28 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--29 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--210 js-nav-sidebar-item"></div>
                  <div class="loader__item loader__item--211 js-nav-sidebar-item"></div>
              </div>
          </div>
          <div id="skrollr-body"></div>
          <!--#chatra-wrapper-->
          <!--.state-initial-position-->
          <div class="intro js-intro-section state-transition">
              <!-- <a href="index.html" title="Home" target="_blank" class="intro__logo_box intro_appears_last"><img src="img/etc/logo--phoenix-work--white.svg" alt="Phoenix Startup testimonials" class="intro__logo"> -->
              </a>
              <!-- <a href="https://gumroad.com/l/phoenix-startup-ui-kit-pro" title="Get Phoenix now!" target="_blank" data-ga-category="External link" data-ga-label="Purchase" data-popup-target="buy_01" class="intro__button intro_appears_last js-ga-click js-ga-hover">Purchase</a> -->
              <div style="background-image: url(img/{{rand_1}}.jpg)" class="intro__card intro__card--01 shadow_card">
                  <a href="http://bit.ly/2ae7r0O" target="_blank" class="intro_card__ribbon">
                    <!-- <img src="img/etc/coreshok.svg" alt="behance landing page presentation" class="intro_card__ribbon_img intro_card__ribbon_img--01"> -->
                    <!-- <img src="img/etc/ribbon.svg" alt="phoenix startup ui kit in behance" class="intro_card__ribbon_img intro_card__ribbon_img--02"> -->
                  </a><img src="img/bg/bg--waves.jpg" alt="Phoenix Bootstrap UI kit background" class="intro__card__img">
                  <div class="intro__card__text_box">
                    <!-- <img src="img/etc/i--logo--white.svg" alt="landing page for bootstrap" class="intro__for_word"> -->
                      <h1 class="intro__title">Tanya Vashistha</h1><span class="intro__info">We wish you a very happy birthday<br>May god bless you</span>
                      <!--br-->
                      <!--h2.intro__subtitle| Startups-->
                  </div>
              </div>
              <div id="js-intro-scene" class="intro_scene">
                  <div data-depth="0.50" class="intro__card intro__card--02 js-intro-card layer"><img ng-src="img/93.jpg" alt="Phoenix Bootstrap UI kit example" class="js-intro-image intro__card__img">
                  </div>
                  <div data-depth="1.20" class="intro__card intro__card--03 js-intro-card layer"><img src="img/108.jpg" alt="free Bootstrap 4 UIkit SVG word" class="js-intro-image shadow_card intro__card__img">
                  </div>
                  <div data-depth="0.20" class="intro__card intro__card--04 js-intro-card layer"><img src="img/121.jpg" alt="Phoenix twitter Bootstrap template theme" class="js-intro-image shadow_card intro__card__img">
                  </div>
                  <div data-depth="0.90" class="intro__card intro__card--05 js-intro-card layer"><img src="img/114.jpg" alt="Phoenix UI kit for developers" class="js-intro-image intro__card__img">
                  </div>
                  <div data-depth="0.30" class="intro__card intro__card--06 js-intro-card layer"><img src="img/82.jpg" alt="flat ui kit" class="js-intro-image shadow_card intro__card__img">
                  </div>
              </div>
              <button type="button" class="intro__scroll_box js-scroll-fullscreen intro_appears_last">
                  <!--span.intro__scroll_text| SCROLL DOWN-->
              </button>
          </div>
          <div class="jumbotron jumbotron--black js-jumbotron">
              <h2 class="jumbotron__title jumbotron__title--white js-content appearing-content">September 1</h2><span class="jumbotron__description jumbotron__description--white jumbotron__description--01 js-content appearing-content">
                Girl with an Ecstatic Auro 😁 <br>
  People say that the best feeling for a person who comes all tired and exhausted from work is when <br>
  he or she enters home and find a warm and happy welcome by someone close to the heart.<br>
   Well, that warm feeling is what defines our little sweetheart,<b> Tanya Vashishtha</b>.<br>
    Her ecstatic auro when she meets her beloved is just the most beautiful thing about her. <br>

  A heart which is so big to fill in all the love possible in the world makes every other heart so small. <br>
   She is our chirpy little bird who is always flighing high in the air of happiness. Be it the cranky bad <br>
    mood swings side of her or this always hyperactive side of love, she is always looking so cute in both the side of coins. <br>

  She is just the perfect door of hope for her friends who are all messed up thinking how badly the world and  <br>
  it's people suck. Oh please let me tell you, if you are like in the midst of thinking that there is no  <br>
  friend of yours to stick around with you at the bad times, well, she is the silver lining of that dark cloud of thought. <br>

  So, just keep calm and sing praises for this little baby because it's her 21st today.  😍</span>
              <br>
              <!-- <img src="img/etc/sketch_logo.png" alt="google soft material UI kit" class="jumbotron__logo js-content appearing-content appearing-content--delay-prebig"><img src="img/etc/Photoshop_CC_icon.png" alt="bootstrap based template" class="jumbotron__logo jumbotron__logo--mid js-content appearing-content appearing-content--delay-small"><img src="img/etc/html5_logo.png" alt="sketch and photoshop bootstrap uikit" class="jumbotron__logo js-content appearing-content appearing-content--delay-mid"> -->
          </div>
          <!-- <div  class="numbers">
              <div class="numbers__item"><span class="numbers__value js-content appearing-content">21</span><span class="numbers__title js-content appearing-content appearing-content--delay-mid">Birthday</span>
              </div>
              <div  class="numbers__item"><span ng-model="abcd" class="numbers__value js-content appearing-content">{{abc}}</span><span class="numbers__title js-content appearing-content appearing-content--delay-mid">seconds since born</span>
              </div>
              <div class="numbers__item"><span class="numbers__value js-content appearing-content">1 M</span><span class="numbers__title js-content appearing-content appearing-content--delay-mid">smiles</span>
              </div>
              <div data-appear-top-offset="-500" class="numbers__cards_box js-numbers-cards-box">
                  <div class="numbers__card numbers__card--01 js-numbers-card"><img src="img/cards/iphones.png" alt="iphone mockup free" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--02 js-numbers-card"><img src="img/cards/mountain.png" alt="free ipad mockup" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--03 js-numbers-card"><img src="img/cards/track.png" alt="free bootstrap 4 uikit" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--04"><img src="img/cards/iPad-snow.png" alt="html5 css3 ui kit" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--05 js-numbers-card"><img src="img/cards/macbook.png" alt="download bootstrap 3 uikit" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--06 js-numbers-card"><img src="img/cards/space.png" alt="1170px grid uikit" class="numbers__card_img">
                  </div>
                  <div class="numbers__card numbers__card--07"><img src="img/cards/golden_mac_acne.png" alt="sass scss uikit" class="numbers__card_img">
                  </div>
              </div>
          </div> -->
          <div class="categories">
              <div class="categories__title_box">
                  <h2 class="categories__title js-content appearing-content">Journey to 21 years</h2>
                  <ul class="categories__list js-content appearing-content appearing-content--delay-mid">
                      <li class="categories__list_item">Tanya</li>
                      <li class="categories__list_item">Moto's Choto</li>
                      <li class="categories__list_item">Crazy</li>
                      <li class="categories__list_item">Hyperactive</li>
                      <li class="categories__list_item">Little Baby</li>
                      <li class="categories__list_item">Golden Heart</li>
                      <li class="categories__list_item">Chirpy </li>
                      <li class="categories__list_item">Energetic  </li>
                      <li class="categories__list_item">Sensative  </li>
                      <li class="categories__list_item">Smart  </li>
                      <br>
                      <li class="categories__list_item">Loud</li>
                      <li class="categories__list_item">Understanding</li>
                      <li class="categories__list_item">Emotional</li>
                      <li class="categories__list_item">Poser</li>
                      <li class="categories__list_item">Adborable</li>
                      <li class="categories__list_item">Oye Vashistha</li>
                      <li class="categories__list_item">Bubbly</li>
                      <li class="categories__list_item">Dependable</li>
                  </ul>
              </div>
              <div class="categories__row categories__row--01 js-categories-scene">
                  <div data-bottom-top="transform: translateZ(0) translateY(-15%);" data-top-bottom="transform: translateZ(0) translateY(0%);" class="categories__card categories__card--01"><img src="img/161.jpg" alt="bootstrap jade ui kit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data-top-bottom="transform: translateZ(0) translateY(30%);" class="categories__card categories__card--02"><img src="img/158.jpg" alt="free uikit photoshop" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-2%);" data-top-bottom="transform: translateZ(0) translateY(14%);" class="categories__card categories__card--03"><img src="img/1.jpg" alt="gulp postcss uikit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-5%);" data-top-bottom="transform: translateZ(0) translateY(1%);" class="categories__card categories__card--04"><img src="img/159.jpg" alt="material ui kit" class="categories__img js-categories-img">
                  </div>
                  <!--include ../img/etc/covers_shape.svg-->
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform: translateZ(0) translateY(20%);" class="categories__shape_box">
                      <svg id="SvgjsSvg1008" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="" height="">
                          <defs id="SvgjsDefs1009">
                              <clipPath id="SvgjsClipPath1012">
                                  <path id="SvgjsPath1011" d="M2004.99 3638.04L1707.06 3481.99L1426.01 3641.35L1426.24 3934Z " fill="#ffffff"></path>
                              </clipPath>
                          </defs>
                          <path data-anchor-target=".categories__row--01" class="categories__svg_path categories__svg_path--covers" id="SvgjsPath1010" d="M2004.99 3638.04L1707.06 3481.99L1426.01 3641.35L1426.24 3934Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#ffffff" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#SvgjsClipPath1012&quot;)" transform="matrix(1,0,0,1,-1426,-3482)"></path>
                      </svg>
                  </div>
                  <div class="categories__text_box">
                      <h2 class="categories__item_title">Childhood</h2><span class="categories__text">"Bachpan". <br>the cute girl, responsible elder sister. <br> Always there for help.</span>
                  </div>
              </div>
              <div class="categories__row categories__row--02 js-categories-scene">
                  <div data-bottom-top="transform: translateZ(0) translateY(-15%);" data--50p-top-bottom="transform: translateZ(0) translateY(10%);" class="categories__card categories__card--05"><img src="img/22.jpg" alt="bootstrap twitter" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-0%);" data--50p-top-bottom="transform: translateZ(0) translateY(5%);" class="categories__card categories__card--06"><img src="img/62.jpg" alt="modern bootstrap 4 uikit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform: translateZ(0) translateY(33%);" class="categories__card categories__card--07"><img src="img/150.jpg" alt="fresh bootstrap 3" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-5%);" data--50p-top-bottom="transform: translateZ(0) translateY(20%);" class="categories__card categories__card--08"><img src="img/181.jpg" alt="bootstrap 3 stylus" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform:  translateZ(0)translateY(20%);" class="categories__shape_box">
                      <svg id="SvgjsSvg1013" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="553" height="456">
                          <defs id="SvgjsDefs1014">
                              <clipPath id="SvgjsClipPath1017">
                                  <path id="SvgjsPath1016" d="M-125.144 4597.63L102.05699999999999 4648.51L201.803 4816.820000000001L427.421 4360.89Z " fill="#ffffff"></path>
                              </clipPath>
                          </defs>
                          <path id="SvgjsPath1015" d="M-125.144 4597.63L102.05699999999999 4648.51L201.803 4816.820000000001L427.421 4360.89Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#ffffff" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#SvgjsClipPath1017&quot;)" transform="matrix(1,0,0,1,125,-4361)"></path>
                      </svg>
                  </div>
                  <div class="categories__text_box">
                      <h2 class="categories__item_title">Family</h2><span class="categories__text">She loves to stay with family.<br> Caring and always helping nature makes <br> her an attached family member. <br> Beloved Daughter of her parents and a naughty sister.</span>
                  </div>
              </div>
              <div class="categories__row categories__row--03 js-categories-scene">
                  <div data-bottom-top="transform: translateZ(0) translateY(-20%);" data--50p-top-bottom="transform: translateZ(0) translateY(33%);" class="categories__card categories__card--09"><img src="img/99.jpg" alt="bootstrap 3 ui kit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-14%);" data--50p-top-bottom="transform: translateZ(0) translateY(25%);" class="categories__card categories__card--10"><img src="img/50.jpg" alt="bootstrap 4 uikit for startup" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-22%);" data--50p-top-bottom="transform: translateZ(0) translateY(14%);" class="categories__card categories__card--11"><img src="img/73.jpg" alt="behance top portfolio ui kit" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-12%);" data--50p-top-bottom="transform: translateZ(0) translateY(60%);" class="categories__card categories__card--12"><img src="img/87.jpg" alt="ui kit for perfect design" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform:  translateZ(0)translateY(20%);" class="categories__shape_box">
                      <svg id="SvgjsSvg1018" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="710" height="572">
                          <defs id="SvgjsDefs1019"></defs>
                          <path id="SvgjsPath1020" d="M1611.8 5326.06L1611.32 5325.860000000001L1351.8799999999999 5487.130000000001L1351.1299999999999 5487.600000000001L1501.5099999999998 5820.410000000002L1501.6999999999998 5820.830000000002L1799.8799999999999 5898.140000000002L2060.2599999999998 5510.510000000002L2060.87 5509.510000000002ZM1798.95 5895.83L1503.1200000000001 5819.13L1353.69 5488.360000000001L1611.5 5328.1L2057.95 5510.450000000001Z " fill="#ffffff" transform="matrix(1,0,0,1,-1351,-5326)"></path>
                      </svg>
                  </div>
                  <div class="categories__text_box">
                      <h2 class="categories__item_title">Friends</h2><span class="categories__text">She is such a good friend that she <br>would throw all her acquaintances into the<br> water for the pleasure of fishing them out again.</span>
                  </div>
              </div>
              <div class="categories__row categories__row--04 js-categories-scene">
                  <div data-bottom-top="transform: translateZ(0)  translateY(-22%);" data--50p-top-bottom="transform: translateZ(0)  translateY(20%);" class="categories__card categories__card--13"><img src="img/100.jpg" alt="bootstrap 3 less" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0)  translateY(-32%);" data--50p-top-bottom="transform: translateZ(0)  translateY(15%);" class="categories__card categories__card--14"><img src="img/21.jpg" alt="bootstrap 3 haml" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0)  translateY(-5%);" data--50p-top-bottom="transform: translateZ(0)  translateY(10%);" class="categories__card categories__card--15"><img src="img/111.jpg" alt="bootstrap 4 html5" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0)  translateY(-20%);" data--50p-top-bottom="transform: translateZ(0)  translateY(20%);" class="categories__card categories__card--16"><img src="img/242.jpg" alt="bootstrap 4 css3" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform: translateZ(0) translateY(20%);" class="categories__shape_box">
                      <svg id="SvgjsSvg1021" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="474" height="475">
                          <defs id="SvgjsDefs1022">
                              <clipPath id="SvgjsClipPath1025">
                                  <path id="SvgjsPath1024" d="M-125 6377L111 6250L349.077 6430.84L93.9999 6725L33.9999 6452Z " fill="#ffffff"></path>
                              </clipPath>
                          </defs>
                          <path class="categories__svg_path categories__svg_path--prices" id="SvgjsPath1023" d="M-125 6377L111 6250L349.077 6430.84L93.9999 6725L33.9999 6452Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#ffffff" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#SvgjsClipPath1025&quot;)" transform="matrix(1,0,0,1,125,-6250)"></path>
                      </svg>
                  </div>
                  <div class="categories__text_box">
                      <h2 class="categories__item_title">Team Player</h2><span class="categories__text">Individual commitment to a group effort <br> - that is what makes a team work, a company work,<br> a society work, a civilization work.</span>
                  </div>
              </div>
              <!-- <div class="categories__row categories__row--05 js-categories-scene">
                  <div data-bottom-top="transform: translateZ(0) translateY(-32%);" data--50p-top-bottom="transform: translateZ(0) translateY(30%);" class="categories__card categories__card--17"><img src="img/100.jpg" alt="bootstrap 5 css4" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-21%);" data--50p-top-bottom="transform: translateZ(0) translateY(29%);" class="categories__card categories__card--18"><img src="img/21.jpg" alt="free bootstrap 4 ui and ux css3" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-13%);" data--50p-top-bottom="transform: translateZ(0) translateY(13%);" class="categories__card categories__card--19"><img src="img/111.jpg" alt="bootstrap 2 framework" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-5%);" data--50p-top-bottom="transform: translateZ(0) translateY(5%);" class="categories__card categories__card--20"><img src="img/242.jpg" alt="css3 free framework" class="categories__img js-categories-img">
                  </div>
                  <div data-bottom-top="transform: translateZ(0) translateY(-10%);" data--50p-top-bottom="transform:  translateZ(0)translateY(20%);" class="categories__shape_box">
                      <svg id="SvgjsSvg1026" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="567" height="460">
                          <defs id="SvgjsDefs1027">
                              <clipPath id="SvgjsClipPath1030">
                                  <path id="SvgjsPath1029" d="M1973.99 7325.04L1761 7081L1407 7328L1588 7541L1646.06 7328.02Z " fill="#ffffff"></path>
                              </clipPath>
                          </defs>
                          <path id="SvgjsPath1028" d="M1973.99 7325.04L1761 7081L1407 7328L1588 7541L1646.06 7328.02Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#ffffff" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#SvgjsClipPath1030&quot;)" transform="matrix(1,0,0,1,-1407,-7081)"></path>
                      </svg>
                  </div>
                  <div class="categories__text_box">
                      <h2 class="categories__item_title">Portfolio</h2><span class="categories__text">The most trendy and &nbsp;<b>fresh design&nbsp;</b>to inspire your<br>audience and to bring your project to&nbsp;<b>the next level</b>.</span>
                  </div>
              </div> -->
              <br>
              <!--.categories__button_boxa.categories__button.button.js-content.appearing-content.js-ga-click(href="https://gumroad.com/l/phoenix-startup-ui-kit-pro", title="Purchase", target="_blank", data-ga-category="External link", data-ga-label="Purchase Categories")
  	| buy now
  -->
          </div>
          <!-- <div class="jumbotron jumbotron--black jumbotron--02">
              <h2 class="jumbotron__title jumbotron__title--white js-content appearing-content">Play with blocks like Lego&trade;</h2><span class="jumbotron__description jumbotron__description--white js-content appearing-content appearing-content--delay-mid">Phoenix is a great tool for your collection. It helps activating<br>your creativity and saves tons of time leaving all the routine<br>behind.</span>
              <br><a href="live-preview/ui-kit-html5-components.html" title="Live demo" target="_blank" class="jumbotron__button button js-content appearing-content">live preview</a>
          </div> -->
          <div data-ga-category="Main Page" data-ga-label="How it Works" data-send-info="" class="steps js-ga-scroll-to">
              <h2 class="steps__title js-content appearing-content">What they say !!</h2>
              <div class="steps__row js-steps-row">
                  <div class="steps__number_box steps__item--odd"><span class="steps__number_value">01</span>
                  </div>
                  <div class="steps__text_box steps__item--odd">
                      <h4 class="steps__item_title">Aradhana Mathur</h4><span class="steps__item_info">
                        So Moto's choto., 17 years out of these 21 years of life which you are completing<br>
                        today have been with me. So just imagine how beautiful and strong our relationship is as<br>
                         we have seen every phase of life together since kids. I know you suck big time haha but <br>
                         still you are my little heart. We have been through a roller coaster of emotions but we knew<br>
                          that we have each other so how could we have vomitted in this ride? We just screamed out<br>
                           our love and happiness with each other throughout the ups and down of this ride. I am lucky<br>
                            to have someone I can speak my heart out with whenever I want, and I can be sure you are <br>
                            always there for me. So, let's hold our hands and grow old together bitching about every <br>
                            single stupid person we see. I love you from the bottom of my heart and I pray you get <br>
                            whatever you desire for in life. HAPPIEST BIRTHDAY TO YOU LOVE. - Your beloved BFF, Aradhana 💗
                      </span>
                      <!-- <div class="steps__features_box">
                          <div class="steps__features_item steps__features_item--icon-slides"><span class="steps__features_item__title"><b>Well organized</b><br>structure</span>
                          </div>
                          <div class="steps__features_item steps__features_item--icon-docs"><span class="steps__features_item__title"><b>Great documentation</b><br>files</span>
                          </div>
                      </div> -->
                  </div>
                  <div class="steps__visual_box steps__item--odd"><img src="img/37.jpg" class="steps__visual_box__img">
                  </div>
              </div>
              <div class="steps__row js-steps-row">
                  <div class="steps__number_box steps__item--even"><span class="steps__number_value">02</span>
                  </div>
                  <div class="steps__text_box steps__item--even">
                      <h4 class="steps__item_title">Ruchita Rao</h4><span class="steps__item_info">
                        Tanya?  naaah.. 🐻.<br>
                        Happyyy birthday love.<br>
                        The most amazing times of life has to the times spent with you. I miss your <br>
                        face on a daily basis and the way you used to jump on me and hug me.. Crazyy.<br>
                        I am so blessed to have you. Busy as it gets.. You know deeper we dwell within us.<br>
                         I loveeeee you taniyaaa. Stay crazy and yes bring me fries someday.<br>
                         Lol, Rolling over laughing, chocolates,, blue lays and yes windy days to all<br>
                         the fests I have learnt so much from you girl. What else do I say... <br>
                         I LOVE YOU. Stay blessed<br>
                        Yours forever - Ruchu🐧
                      </span>
                  </div>
                  <div class="steps__visual_box steps__item--even"><img src="img/261.jpg" class="steps__visual_box__img">
                  </div>
              </div>
              <!-- <div class="steps__row js-steps-row">
                  <div class="steps__number_box steps__item--odd"><span class="steps__number_value"></span>
                  </div>
                  <div class="steps__text_box steps__item--odd">
                      <h4 class="steps__item_title">3rd</h4><span class="steps__item_info">some content</span>

                  </div>
                  <div class="steps__visual_box steps__item--odd"><img src="img/23.jpg" alt="A landing page generation process" class="steps__visual_box__img">
                  </div>
              </div> -->
              <!-- <div class="steps__row js-steps-row">
                  <div class="steps__number_box steps__item--even"><span class="steps__number_value">04</span>
                  </div>
                  <div class="steps__text_box steps__item--even">
                      <h4 class="steps__item_title">Start your project in<br>10 minutes</h4><span class="steps__item_info">Your time is unique. We know it and offer the UI kit<br>that saves your time. Phoenix is extremely reusable<br>and versatile and can be used for creating tons of<br>high quality projects.</span>
                      <div class="steps__features_box">
                          <div class="steps__features_item steps__features_item--icon-zip"><span class="steps__features_item__title"><b>The fastest launch</b><br>of any startup</span>
                          </div>
                          <div class="steps__features_item steps__features_item--icon-star"><span class="steps__features_item__title"><b>Splendid design</b><br>for your audience</span>
                          </div>
                      </div>
                  </div>
                  <div class="steps__visual_box steps__item--even"><img src="img/pictures/Start_in_10_min_840.jpg" alt="pagebuilder drag and drop html5" class="steps__visual_box__img">
                  </div>
              </div> -->
          </div>
          <!-- <div data-ga-category="Main Page" data-ga-label="Design and Developer" data-send-info="" class="tandem js-ga-scroll-to">
              <div data-bottom-top="transform: translateZ(0) translateX(0%);" data--50p-top-bottom="transform: translateZ(0) translateX(-20%);" class="tandem__photo_box tandem__photo_box--code js-content"><img src="img/cards/feature_code.png" alt="free bootstrap 3 template" class="tandem__photo">
              </div>
              <div data-bottom-top="transform: translateZ(0) translateX(0%);" data--50p-top-bottom="transform: translateZ(0) translateX(20%);" class="tandem__photo_box tandem__photo_box--design js-content"><img src="img/cards/feature_design.png" alt="html5 framework for free" class="tandem__photo">
              </div>
              <div class="tandem__box--black">
                  <h2 class="tandem__title js-content appearing-content">Modern & Clean Design</h2><span class="tandem__description js-content appearing-content appearing-content--delay-mid">Our professional approach to every single detail makes<br>the Phoenix UI kit the most graceful tool.</span>
                  <div class="tandem__features_box">
                      <div class="features__item features__item">
                          <div class="features__item_icon_circle features__item_icon_circle--black-shadow features__item_icon_circle--font-icon js-content appearing-content"></div>
                          <h3 class="features__item_title js-content appearing-content">google fonts</h3><span class="features__item_text js-content appearing-content">Phoenix is fully all-sufficient<br>and comes with Google fonts.<br>It's easy and free.</span>
                      </div>
                      <div class="features__item features__item">
                          <div class="features__item_icon_circle features__item_icon_circle--black-shadow features__item_icon_circle--device-icon js-content appearing-content appearing-content--delay-mid"></div>
                          <h3 class="features__item_title js-content appearing-content">Fully responsive</h3><span class="features__item_text js-content appearing-content">All components look gorgeous<br>on any device: smartphone,<br>tablet, laptop, iMac.</span>
                      </div>
                      <div class="features__item features__item">
                          <div class="features__item_icon_circle features__item_icon_circle--black-shadow features__item_icon_circle--zoom-icon js-content appearing-content appearing-content--delay-giant"></div>
                          <h3 class="features__item_title js-content appearing-content">retina ready</h3><span class="features__item_text js-content appearing-content">Phoenix is an SVG based tool,<br>meaning all icons are sharp and<br>look awesome everywhere.</span>
                      </div>
                  </div>
              </div>
              <div class="tandem__box--blue">
                  <h2 class="tandem__title js-content appearing-content">Cutting Edge Technologies</h2><span class="tandem__description js-content appearing-content appearing-content--delay-mid">The fastest additionally optimized Bootstrap version<br>for the best performance and flexibility.</span>
                  <div class="tandem__features_box">
                      <div class="features__item features__item">
                          <div class="features__item_icon_circle features__item_icon_circle--blue-shadow features__item_icon_circle--cards-icon js-content appearing-content"></div>
                          <h3 class="features__item_title js-content appearing-content">Cross-browser support</h3><span class="features__item_text js-content appearing-content">Phoenix is fully all-sufficient<br>and comes with Google fonts.<br>It's easy and free.</span>
                      </div>
                      <div class="features__item features__item">
                          <div class="features__item_icon_circle features__item_icon_circle--blue-shadow features__item_icon_circle--code-icon js-content appearing-content appearing-content--delay-mid"></div>
                          <h3 class="features__item_title js-content appearing-content">Bootstrap based</h3><span class="features__item_text js-content appearing-content">Most popular 1170px grid and<br>all the Bootstrap components<br>are at your service.</span>
                      </div>
                      <div class="features__item features__item">
                          <div class="features__item_icon_circle features__item_icon_circle--blue-shadow features__item_icon_circle--shield-icon js-content appearing-content appearing-content--delay-giant"></div>
                          <h3 class="features__item_title js-content appearing-content">free updates</h3><span class="features__item_text js-content appearing-content">Zero cost lifelong subscription<br>for all upcoming features and<br>improvements.</span>
                      </div>
                  </div>
              </div>
          </div> -->
          <div class="jumbotron jumbotron--black jumbotron--03">
              <h2 class="jumbotron__title jumbotron__title--white js-content appearing-content">Stylish, Versatile, What else to say !!</h2><span class="jumbotron__description jumbotron__description--white jumbotron__description--03 js-content appearing-content appearing-content--delay-mid">
                Well, it as to tell something about her as easy her love for pizza!!<br>
                 A person with a cute height but double the big her heart is.<br>
                  Understanding, loving, irritating at time but my soul sister.<br>
                  You know you can count on her at any given point of time and<br>
                  she will be right there for you. You give her your love and pizza<br>
                   and she would do anything for you. Lol. Absolutely a kid at heart<br>
                    but as mature as she gets while handling situations. The love and<br>
                     respect she gives you, is just beyond words. Be kind and crazy<br>
                      with her. She is full of life. Brave. Big mouth at times.<br>
                      Motivating. She is beautiful and such a pure soul.<br>
                      We wish you great future and absolute happiness in life.</span>
              <br>
          </div>
          <div data-ga-category="Main Page" data-ga-label="Samples" data-send-info="" class="samples js-ga-scroll-to">
              <h2 class="samples__title js-content appearing-content"><a href="./all.html" style="text-decoration: none;">A Glimpse</h2>
              <div class="samples__box">
                  <div class="samples__col samples__col--left">
                    <div  ng-repeat="data in a track by $index">
                      <div class="samples__item js-samples-item"><img ng-src="img/{{data}}.jpg" alt="free ui kit html5" class="samples__img">
                      </div>
                    </div>
                  </div>
                  <div class="samples__col samples__col--center">
                    <div  ng-repeat="data in b track by $index">
                      <div class="samples__item js-samples-item"><img ng-src="img/{{data}}.jpg" alt="free ui kit html5" class="samples__img">
                      </div>
                    </div>
                  </div>
                  <div class="samples__col samples__col--right">
                    <div  ng-repeat="data in c track by $index">
                      <div class="samples__item js-samples-item"><img ng-src="img/{{data}}.jpg" alt="free ui kit html5" class="samples__img">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <!--.techs.js-footer-price.techs__item
  	button.tech__info_btn(type="button")
  		| i
  		.tech__info_box
  			span.tech__info_description
  				| These powerful tools will help you in creation even better projects.
  	span.tech__info_text
  		| Even better with:
  .techs__item
  	img.techs__img(src="img/etc/logo--angular.svg", alt="AngularJS SVG logo download high resolution")
  .techs__item
  	img.techs__img(src="img/etc/invision-logo-pink.png", alt="Invision SVG logo download high resolution")
  .techs__item
  	img.techs__img(src="img/etc/Marvel_logo.svg", alt="Marvel App SVG logo download high resolution")
  .techs__item
  	img.techs__img(src="img/etc/Webflow-logo-raster-blue-2015.png", alt="Webflow SVG logo download high resolution")
  .techs__item
  	img.techs__img(src="img/etc/Wordpress.svg", alt="Wordpress SVG logo download high resolution")-->
          <!-- <div class="testimonials jumbotron">
              <h2 class="testimonials__title jumbotron__title jumbotron__title--white js-content appearing-content">What people say</h2>
              <div class="testimonials__box">
                  <div class="testimonials__item js-content appearing-content appearing-content--delay-small">
                      <div class="testimonials__icon_box"><img src="img/etc/venok.svg" alt="phoenix startup" class="testimonials__icon_box__img">
                      </div>
                      <div class="testimonials__text_box"><span class="testimonials__text">This UI Kit is really a UI guide.<br>This will create a need that UI<br>means both design and front<br>end code. Great work. We will<br>need more of this kind. :)</span>
                      </div><span class="testimonials__name">yadav prasanth</span><span class="testimonials__regals">UI designer at pstakecare.com</span>
                  </div>
                  <div class="testimonials__item js-content appearing-content appearing-content--delay-mid">
                      <div class="testimonials__icon_box"><img src="img/etc/venok.svg" alt="phoenix startup" class="testimonials__icon_box__img">
                      </div>
                      <div class="testimonials__text_box"><span class="testimonials__text">This looks interesting and<br>really beautiful designs. Will<br>have that in mind for our<br>projects. Cheers, Lukasz</span>
                      </div><span class="testimonials__name">Lukasz Konofalski</span><span class="testimonials__regals">Founder of PostepicApp</span>
                  </div>
                  <div class="testimonials__item js-content appearing-content appearing-content--delay-prebig">
                      <div class="testimonials__icon_box"><img src="img/etc/venok.svg" alt="phoenix startup" class="testimonials__icon_box__img">
                      </div>
                      <div class="testimonials__text_box"><span class="testimonials__text">You've done an incredible job<br>with it! I'm seriously impressed<br>at the designs. Kudos to you and<br>your team. Thanks for creating<br>something awesome and sharing<br>it with the community!</span>
                      </div><span class="testimonials__name">Lee Peterson</span><span class="testimonials__regals">Founder of RustyDogDesign / Web-designer</span>
                  </div>
              </div>
          </div> -->
          <!-- <div data-ga-category="Main Page" data-ga-label="Purchase" data-send-info="" class="purchase js-ga-scroll-to">
              <div class="purchase__floating_price_box"><span data-center-top="transform: translateY(-20%);" data-end="transform: translateY(0%);" class="purchase__floating_price_box__item js-price-item purchase__floating_price_box__item--1 purchase__floating_price_box__item--dollar">$</span><span data-center-top="transform: translateY(-13%);" data-end="transform: translateY(0%);" class="purchase__floating_price_box__item js-price-item purchase__floating_price_box__item--2">8</span><span data-center-top="transform: translateY(-17%);" data-end="transform: translateY(0%);" class="purchase__floating_price_box__item js-price-item purchase__floating_price_box__item--3">9</span>
              </div>
              <div class="purchase__btn_box"><a href="https://gumroad.com/l/phoenix-startup-ui-kit-pro" target="_blank" data-ga-category="External link" data-ga-label="Formats" title="Learn More" data-popup-target="buy_01" class="purchase__techs js-ga-click">Sketch / Psd / Html5 / Css3 / saSs / svg</a>
                  <br><a href="https://gumroad.com/l/phoenix-startup-ui-kit-pro" target="_blank" data-ga-category="External link" data-ga-label="Buy Now" data-popup-target="buy_01" class="purchase__btn js-ga-click">buy now</a>
                  <br>
              </div>
          </div> -->
          <!-- <div class="social"><span class="social__title">Share</span>
              <div data-services="facebook,twitter,pinterest,gplus" data-image="http://phoenix-startup.com/phoenix_startup_ui_kit.jpg" data-counter="" data-lang="en" class="ya-share2 js-share-list"></div>
          </div> -->
          <footer class="footer">
              <span class="footer__legals">Made with <span style="color:red">❤</span> from friends</span>
          </footer>
      </main>
      <!-- == START OF POPUP ==-->
      <!--.popup.popup--ask.js-popup(data-popup-name="ask_01", style="background-image: url(img/bg/bg--cos.jpg)")button.popup__close_btn.js-close-all-popups(title="Close")
  h2.popup__title.js-popup__title--initial
  	| Ask a Question
  h2.popup__title.popup__title--hidden.js-popup__title--success
  	| Success!
  form.call_to_action__form.call_to_action__form--06.js-saving-form(action="http://ui-market.com/phoenix-startup/send_mail.php", method="POST")
  	.call_to_action__input_box--06
  		input.input.input--light.call_to_action__input--06(type="text", placeholder="Your name", required, name="name")
  		input.input.input--light.call_to_action__input--06(type="email", placeholder="Email", required, name="email")
  	textarea(placeholder="Message", name="message").input.input--light.popup__textarea
  	button.button.button--white.call_to_action__button--06(type="submit")
  		| send-->


  </body>

  </html>
